<% include ../../common/header %>
    <% include ../../common/navbarSubscriber %>
    <div class="container-fluid p-5">
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 1%" aria-valuenow="1" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>

        <div class="container-fluid mt-5 col-md-6">
            <div class="card border border-primary">
                <div class="card-header text-white bg-primary">
                    <%= fundName %>
                </div>
                <div class="card-body">
                    <p class="text-primary">Fund Address</p>
                    <h5 class="card-title">
                        <%= fundAddress %>
                    </h5>
                    <p class="text-primary">Installment</p>
                    <p class="card-text">
                        <%= fundInstallment %>
                    </p>
                    <button onclick="connectToMetMask()" class="btn btn-primary float-left">Connect To MetaMask</button>
                    <button class="btn btn-primary float-right" onclick="joinFund('<%= fundInstallment %>')">Join
                        Fund</button>
                </div>
            </div>
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script> -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
        </body>
        <!-- <script src="/javascripts/joinFund.js"></script> -->
        <script>
           $('.progress').hide();
            var subscriberAccount;
            function connectToMetMask() {
                ethereum.enable().then(result => {
                    subscriberAccount = result[0];
                });
            }

            function joinFund(fundInstallment) {
              $('.progress').show();
              $(".progress-bar").css("width", "75%");
              $(".progress-bar").attr("aria-valuenow", "75%");
              ethereum.enable().then(function (accounts) {
                subscriberAddress = accounts[0];
                    myContract.methods.joinFund()
                        .send({
                            from: subscriberAddress,
                            value: fundInstallment
                        })
                        .then(function (result, error) {
                            if (!error) {
                                subscriberFundDB();
                            } else {
                                swal("Oops", "Something went wrong!", "error");
                            }
                        });
                });
            }

            function subscriberFundDB() {
                $.ajax({
                    type: 'GET',
                    url: '/subscriber/subscriberFundDbStore',
                    contentType: "application/json",
                    data: {
                        fundName: '<%= fundName %>',
                        fundAddress: '<%= fundAddress %>',
                    },
                    success: function (data) {
                        if (data.message == 'success') {
                          $(".progress-bar").css("width", "100%");
                                  $(".progress-bar").attr("aria-valuenow", "100%");
                                  $('.progress').hide();
                            swal("Success!", "Successfully joined to this fund", "success")
                                .then(() => {
                                    window.location = "/subscriber";
                                });
                        } else {
                            swal("Oops", "Details Storing Failed", "error");
                        }
                    },
                    error: function (MLHttpRequest, textStatus, errorThrown) {
                        alert(errorThrown);
                    }
                });
            }

            $(function () {
                if (typeof web3 !== 'undefined') {
                    web3Provider = web3.currentProvider;
                    web3 = new Web3(web3.currentProvider);
                } else {
                    // set the provider you want from Web3.providers
                    window.web3 = new Web3("http://localhost:8545");
                }

                const contractAddress = "<%= fundAddress %>";
                const contractAbi =  [
    {
      "inputs": [
        {
          "internalType": "address",
          "name": "_foreman",
          "type": "address"
        },
        {
          "internalType": "uint256",
          "name": "_securityDeposit",
          "type": "uint256"
        },
        {
          "internalType": "uint256",
          "name": "_fundInstallment",
          "type": "uint256"
        },
        {
          "internalType": "uint256",
          "name": "_maxTickets",
          "type": "uint256"
        },
        {
          "internalType": "uint256",
          "name": "_foremanCommissionPerInstallment",
          "type": "uint256"
        }
      ],
      "stateMutability": "payable",
      "type": "constructor"
    },
    {
      "anonymous": false,
      "inputs": [
        {
          "indexed": true,
          "internalType": "uint256",
          "name": "installmentIndex",
          "type": "uint256"
        },
        {
          "indexed": false,
          "internalType": "uint256",
          "name": "timeStamp",
          "type": "uint256"
        },
        {
          "indexed": true,
          "internalType": "uint256",
          "name": "highestBid",
          "type": "uint256"
        },
        {
          "indexed": false,
          "internalType": "uint256[]",
          "name": "subscriberAddress",
          "type": "uint256[]"
        }
      ],
      "name": "auctionEventLog",
      "type": "event"
    },
    {
      "anonymous": false,
      "inputs": [
        {
          "indexed": true,
          "internalType": "uint256",
          "name": "installmentIndex",
          "type": "uint256"
        },
        {
          "indexed": false,
          "internalType": "uint256",
          "name": "bidStart",
          "type": "uint256"
        },
        {
          "indexed": false,
          "internalType": "uint256",
          "name": "bidEnd",
          "type": "uint256"
        }
      ],
      "name": "auctionLog",
      "type": "event"
    },
    {
      "anonymous": false,
      "inputs": [
        {
          "indexed": true,
          "internalType": "uint256",
          "name": "time",
          "type": "uint256"
        },
        {
          "indexed": true,
          "internalType": "address",
          "name": "memberAddress",
          "type": "address"
        },
        {
          "indexed": false,
          "internalType": "uint256",
          "name": "credit",
          "type": "uint256"
        },
        {
          "indexed": false,
          "internalType": "uint256",
          "name": "debit",
          "type": "uint256"
        },
        {
          "indexed": false,
          "internalType": "uint256",
          "name": "balanceOfContract",
          "type": "uint256"
        }
      ],
      "name": "balanceLog",
      "type": "event"
    },
    {
      "anonymous": false,
      "inputs": [
        {
          "indexed": true,
          "internalType": "uint256",
          "name": "installmentIndex",
          "type": "uint256"
        },
        {
          "indexed": false,
          "internalType": "uint256",
          "name": "toPay",
          "type": "uint256"
        },
        {
          "indexed": false,
          "internalType": "bool",
          "name": "fundClosed",
          "type": "bool"
        },
        {
          "indexed": false,
          "internalType": "bool",
          "name": "fundCanceled",
          "type": "bool"
        }
      ],
      "name": "installmentLog",
      "type": "event"
    },
    {
      "anonymous": false,
      "inputs": [
        {
          "indexed": true,
          "internalType": "uint256",
          "name": "installmentIndex",
          "type": "uint256"
        },
        {
          "indexed": false,
          "internalType": "uint256",
          "name": "ticketNumber",
          "type": "uint256"
        },
        {
          "indexed": true,
          "internalType": "address",
          "name": "subscriberAddress",
          "type": "address"
        },
        {
          "indexed": false,
          "internalType": "uint256",
          "name": "paid",
          "type": "uint256"
        },
        {
          "indexed": false,
          "internalType": "uint256",
          "name": "fine",
          "type": "uint256"
        },
        {
          "indexed": false,
          "internalType": "uint256",
          "name": "deposit",
          "type": "uint256"
        },
        {
          "indexed": false,
          "internalType": "uint256",
          "name": "balance",
          "type": "uint256"
        },
        {
          "indexed": false,
          "internalType": "bool",
          "name": "isWinner",
          "type": "bool"
        },
        {
          "indexed": false,
          "internalType": "bool",
          "name": "isSubscriber",
          "type": "bool"
        },
        {
          "indexed": true,
          "internalType": "enum Lib.Punishment",
          "name": "due",
          "type": "uint8"
        },
        {
          "indexed": false,
          "internalType": "enum Lib.SubscriberStatus",
          "name": "status",
          "type": "uint8"
        }
      ],
      "name": "subscriberLog",
      "type": "event"
    },
    {
      "anonymous": false,
      "inputs": [
        {
          "indexed": true,
          "internalType": "uint256",
          "name": "installmentIndex",
          "type": "uint256"
        },
        {
          "indexed": false,
          "internalType": "uint256",
          "name": "timeStamp",
          "type": "uint256"
        },
        {
          "indexed": true,
          "internalType": "uint256",
          "name": "highestBid",
          "type": "uint256"
        },
        {
          "indexed": false,
          "internalType": "address",
          "name": "winnerAddress",
          "type": "address"
        }
      ],
      "name": "winnerLog",
      "type": "event"
    },
    {
      "inputs": [],
      "name": "securityDeposit",
      "outputs": [
        {
          "internalType": "uint256",
          "name": "",
          "type": "uint256"
        }
      ],
      "stateMutability": "view",
      "type": "function"
    },
    {
      "inputs": [],
      "name": "joinFund",
      "outputs": [],
      "stateMutability": "payable",
      "type": "function"
    },
    {
      "inputs": [],
      "name": "updateInstallmentIndex",
      "outputs": [],
      "stateMutability": "nonpayable",
      "type": "function"
    },
    {
      "inputs": [],
      "name": "paySubscription",
      "outputs": [],
      "stateMutability": "payable",
      "type": "function"
    },
    {
      "inputs": [
        {
          "internalType": "uint256",
          "name": "_bidTime",
          "type": "uint256"
        }
      ],
      "name": "conductAuction",
      "outputs": [],
      "stateMutability": "nonpayable",
      "type": "function"
    },
    {
      "inputs": [
        {
          "internalType": "uint256",
          "name": "_bidAmount",
          "type": "uint256"
        }
      ],
      "name": "bid",
      "outputs": [],
      "stateMutability": "nonpayable",
      "type": "function"
    },
    {
      "inputs": [],
      "name": "pickWinner",
      "outputs": [],
      "stateMutability": "nonpayable",
      "type": "function"
    },
    {
      "inputs": [],
      "name": "getPrize",
      "outputs": [],
      "stateMutability": "nonpayable",
      "type": "function"
    },
    {
      "inputs": [
        {
          "internalType": "address",
          "name": "_subscriberAddress",
          "type": "address"
        },
        {
          "internalType": "uint256",
          "name": "_punishment",
          "type": "uint256"
        },
        {
          "internalType": "uint256",
          "name": "_fineDue",
          "type": "uint256"
        },
        {
          "internalType": "uint256",
          "name": "_fineWinner",
          "type": "uint256"
        },
        {
          "internalType": "uint256",
          "name": "_fineDue2",
          "type": "uint256"
        },
        {
          "internalType": "uint256",
          "name": "_fineWinner2",
          "type": "uint256"
        },
        {
          "internalType": "uint256",
          "name": "_interestDividend",
          "type": "uint256"
        }
      ],
      "name": "punishSubscriber",
      "outputs": [],
      "stateMutability": "nonpayable",
      "type": "function"
    },
    {
      "inputs": [],
      "name": "verifySubsciptions",
      "outputs": [],
      "stateMutability": "nonpayable",
      "type": "function"
    },
    {
      "inputs": [],
      "name": "cancelFund",
      "outputs": [],
      "stateMutability": "nonpayable",
      "type": "function"
    },
    {
      "inputs": [],
      "name": "withDraw",
      "outputs": [],
      "stateMutability": "nonpayable",
      "type": "function"
    },
    {
      "inputs": [],
      "name": "deleteContract",
      "outputs": [
        {
          "internalType": "bool",
          "name": "success",
          "type": "bool"
        }
      ],
      "stateMutability": "view",
      "type": "function"
    },
    {
      "inputs": [
        {
          "internalType": "address",
          "name": "target",
          "type": "address"
        },
        {
          "internalType": "string",
          "name": "func",
          "type": "string"
        },
        {
          "internalType": "address",
          "name": "to",
          "type": "address"
        }
      ],
      "name": "run",
      "outputs": [],
      "stateMutability": "nonpayable",
      "type": "function"
    }
  ];
                myContract = new web3.eth.Contract(contractAbi, contractAddress);

            });

        </script>
        <style>
            body {
                font-family: 'Montserrat', sans-serif;
            }
        </style>

        </html>
