<% include ../../common/header %>
    <% include ../../common/navbarSubscriber %>
    <div class="container-fluid">
        <h1 class="text-primary">My Fund</h1>
        <div class="container">
            <div class="card-columns">
                <% for (var i=0; i < result.length; i++) { %>
                    <div class="card border-primary col-md-8"
                        style="box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28); border-radius: 20px;">
                        <div class="card-body">
                            <h5 class="card-title text-primary">
                                <%= result[i].fundName %>
                            </h5>
                            <p class="card-text text-muted">
                                <%= result[i].fundAddress %>
                            </p>
                            <div class="dropdown float-right m-3">
                                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Logs
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                  <a class="dropdown-item text-primary" href="/subscriber/subscriberLog/<%= result[i].fundAddress %>">Subscriber Log</a>
                                  <a class="dropdown-item text-primary" href="/subscriber/auctionLog/<%= result[i].fundAddress %>">Auction Log</a>
                                  <a class="dropdown-item text-primary" href="/subscriber/balanceLog/<%= result[i].fundAddress %>">Balance Log</a>
                                </div>
                              </div>
                        </div>
                    </div>
                    <% } %>
            </div>
        </div>
    </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script> -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
        </body>
        <style>
            body {
                font-family: 'Montserrat', sans-serif;
            }
        </style>

        </html>
