<% include ../../common/header %>
    <% include ../../common/navbarForeman %>
        <div class="container-fluid">
            <h1 class="text-primary">Verification Log</h1>
            <h5 class="float-right">Installment Index: <%= installmentIndex %></h5>
        </div>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 1%" aria-valuenow="1" aria-valuemin="0" aria-valuemax="100"></div>
        </div>

        <div class="container-fluid">
            <table id="verifyLogTable" class="display wrap" style="width:100%">
                <thead>
                    <tr>
                        <th>Ticket Number</th>
                        <th>Installment Index</th>
                        <th>Subscriber Address</th>
                        <th>Pay</th>
                        <th>Fine</th>
                        <th>Deposit</th>
                        <th>Balance</th>
                        <th>Winner</th>
                        <th>Subscriber</th>
                        <th>Due</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
            </table>
        </div>

        <div class="container-fluid">
            <button class="btn btn-primary float-right m-3" onclick="confirmVerification()">Confirm Verification</button>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Verify Subscriber</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group row">
                            <label for="subscriberAddress" class="col-sm-4 col-form-label">Subscriber</label>
                            <div class="col-sm-8">
                                <input type="text" name="subscriberAddress" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="punishment" class="col-sm-4 col-form-label">Due</label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                   <select name="punishmentSelect" id="punishment" class="form-control">
                                       <option value="-1">Please Select</option>
                                       <option value="0">No Dues</option>
                                       <option value="1">Due</option>
                                       <option value="2">Winner Due</option>
                                       <option value="3">Sell Subscription</option>
                                       <option value="4">Attachment</option>
                                   </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="installmentAmount" class="col-sm-4 col-form-label">Installment</label>
                            <div class="col-sm-8">
                                <input type="text" name="installmentAmount" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="fine" class="col-sm-4 col-form-label">Fine</label>
                            <div class="col-sm-8">
                                <input type="text" name="fine" class="form-control" required>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary float-right" onclick="verifySubscriber();">Save</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script> -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
        <!-- Data Table  -->
        <link rel="stylesheet" href="/stylesheets/datatable.css">
        <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.23/datatables.min.js"></script>
        </body>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"
            integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ=="
            crossorigin="anonymous"></script>
        <script>
            var contractAddress = '<%= contractAddress %>';
            var installmentIndex = '<%= installmentIndex %>';
            var installments = '<%= installments %>';
            var installmentAmount = '<%= installmentAmount %>';
            var highestBid = '<%=highestBid %>';

            $('.progress').hide();

            function modal(el) {
                $('#exampleModal input[name="subscriberAddress"').val($(el).attr('data-subscriberaddress'));

                var subscriberInstallmentIndex = $(el).attr('data-installmentIndex');
                var isWinner = $(el).attr('data-isWinner');
                var due = $(el).attr('data-due');
                var difference = installmentIndex - subscriberInstallmentIndex;
                var commission = installmentAmount*installments*.05;
                var fundTotal = installmentAmount*installments;
                var fineDue= installmentAmount*1.12;
                var fineWinner = installmentAmount*1.14;
                var fineDue2= (2*installmentAmount)*1.12;
                var fineWinner2= (2*installmentAmount)*1.14;
                var interestDivident= (fundTotal - highestBid) - commission;

                if (isWinner) {
                    if (difference == 0 && due == 0) {
                        $('#exampleModal #punishment option[value=0]').attr('selected', 'selected');
                        $('#exampleModal input[name="installmentAmount"').val(interestDivident);
                        $('#exampleModal input[name="fine"').val(0);
                    } else if (difference == 1 && due == 0) {
                        $('#exampleModal #punishment option[value=2]').attr('selected', 'selected');
                        $('#exampleModal input[name="installmentAmount"').val(installmentAmount);
                        $('#exampleModal input[name="fine"').val(fineWinner);
                    } else if (difference == 1 && due == 2) {
                        $('#exampleModal #punishment option[value=4]').attr('selected', 'selected');
                        $('#exampleModal input[name="installmentAmount"').val(installmentAmount);
                        $('#exampleModal input[name="fine"').val(fineWinner2);
                    } else if (difference == 2 && due == 0) {
                        $('#exampleModal #punishment option[value=4]').attr('selected', 'selected');
                        $('#exampleModal input[name="installmentAmount"').val(installmentAmount);
                        $('#exampleModal input[name="fine"').val(fineWinner2);
                    } else if (difference == 2 && due == 1) {
                        $('#exampleModal #punishment option[value=4]').attr('selected', 'selected');
                        $('#exampleModal input[name="installmentAmount"').val(installmentAmount);
                        $('#exampleModal input[name="fine"').val(fineWinner2);
                    }

                } else {
                    if (difference == 0 && due == 0) {
                        $('#exampleModal #punishment option[value=0]').attr('selected', 'selected');
                        $('#exampleModal input[name="installmentAmount"').val(interestDivident);
                        $('#exampleModal input[name="fine"').val(0);
                    } else if (difference == 1 && due == 0) {
                        $('#exampleModal #punishment option[value=1]').attr('selected', 'selected');
                        $('#exampleModal input[name="installmentAmount"').val(installmentAmount);
                        $('#exampleModal input[name="fine"').val(fineDue);
                    } else if (difference == 1 && due == 1) {
                        $('#exampleModal #punishment option[value=3]').attr('selected', 'selected');
                        $('#exampleModal input[name="installmentAmount"').val(installmentAmount);
                        $('#exampleModal input[name="fine"').val(fineDue2);
                    } else if (difference == 2 && due == 0) {
                        $('#exampleModal #punishment option[value=3]').attr('selected', 'selected');
                        $('#exampleModal input[name="installmentAmount"').val(installmentAmount);
                        $('#exampleModal input[name="fine"').val(fineDue2);
                    } else if (difference == 2 && due == 1) {
                        $('#exampleModal #punishment option[value=3]').attr('selected', 'selected');
                        $('#exampleModal input[name="installmentAmount"').val(installmentAmount);
                        $('#exampleModal input[name="fine"').val(fineDue2);
                    }
                }

            }

            function verifySubscriber() {
                var subscriberAddress = $('#exampleModal input[name="subscriberAddress"').val();
                var punishment = $('#exampleModal select').find(":selected").val();
                var fineDue= (installmentAmount*1.12).toString();
                var fineWinner = (installmentAmount*1.14).toString();
                var fineDue2= ((2*installmentAmount)*1.12).toString();
                var fineWinner2= ((2*installmentAmount)*1.14).toString();
                var fundTotal = installmentAmount*installments;
                var commission = installmentAmount*installments*.05;
                var interestDivident = (fundTotal - highestBid - commission).toString();

                $('#exampleModal').modal('hide');
                $('.progress').show();
                $(".progress-bar").css("width", "75%");
                $(".progress-bar").attr("aria-valuenow", "75%");
                ethereum.enable().then(result => {
                    foremanAddress = result[0];
                   console.log(subscriberAddress);
                   trustedLendingCircleContract.methods.punishSubscriber(
                       subscriberAddress,
                       punishment,
                       fineDue,
                       fineWinner,
                       fineDue2,
                       fineWinner2,
                       interestDivident
                   )
                   .send({from: foremanAddress})
                   .then(result => {
                    $(".progress-bar").css("width", "100%");
                    $(".progress-bar").attr("aria-valuenow", "100%");
                    $('.progress').hide();
                    swal("Success!", "Successfully verified subscriber", "success")
                        .then(() => {
                            window.location = "/foreman/mycircles";
                        });
                   })
                   .catch(err => {
                        $('.progress').hide();
                        swal("Oops", "Something went wrong", "error")
                        .then(() => {
                            window.location = "/foreman/mycircles";
                        });
                    });
               });
            }

            function confirmVerification() {
                $('.progress').show();
                $(".progress-bar").css("width", "75%");
                $(".progress-bar").attr("aria-valuenow", "75%");
                ethereum.enable().then(result => {
                   foremanAddress = result[0];
                   trustedLendingCircleContract.methods.verifySubsciptions()
                   .send({from: foremanAddress})
                   .then(result => {
                    $(".progress-bar").css("width", "100%");
                    $(".progress-bar").attr("aria-valuenow", "100%");
                    $('.progress').hide();
                    swal("Success!", "Successfully verified subscriber", "success")
                        .then(() => {
                            window.location = "/foreman/mycircles";
                        });
                   })
                   .catch(err => {
                        $('.progress').hide();
                        swal("Oops", "Something went wrong", "error")
                        .then(() => {
                            window.location = "/foreman/mycircles";
                        });
                    });
               });
            }

            $(function() {
                $.fn.dataTable.ext.errMode = 'throw';
                try {
                    var table = $('#verifyLogTable').DataTable({
                        responsive: true,
                        scrollX: true,
                        "scrollCollapse": true,
                        ajax: {
                            url: '/foreman/verificationLogEvent',
                            type: 'GET',
                            contentType: "application/json",
                            data: {
                                'contractAddress': contractAddress
                            },
                        },
                        order: [
                            [0, "asc"]
                        ],
                        columns: [
                            {
                                data: 'ticketNumber',
                                name: 'ticketNumber'
                            },
                            {
                                data: null,
                                render: function(data) {
                                    return data.installmentIndex;
                                }
                            },
                            {
                                data: 'subscriberAddress',
                                name: 'subscriberAddress'
                            },
                            {
                                data: 'pay',
                                name: 'pay'
                            },
                            {
                                data: 'fine',
                                name: 'fine'
                            },
                            {
                                data: 'deposit',
                                name: 'deposit'
                            },
                            {
                                data: 'balance',
                                name: 'balance'
                            },
                            {
                                data: null,
                                render: function(data) {
                                    var icon = '';
                                    if (data.winner == true) {
                                        icon = '<i class="fas fa-check-circle text-success"></i>';
                                    } else {
                                        icon = '<i class="fas fa-times-circle text-danger"></i>';
                                    }
                                    return icon;
                                }
                            },
                            {
                                data: null,
                                render: function(data) {
                                    var icon = '';
                                    if (data.subscriber == true) {
                                        icon = '<i class="fas fa-check-circle text-success"></i>';
                                    } else {
                                        icon = '<i class="fas fa-times-circle text-danger"></i>';
                                    }
                                    return icon;
                                }
                            },
                            {
                                data: 'due',
                                name: 'due'
                            },
                            {
                                data: null,
                                render: function(data) {
                                    var icon = '';
                                    if (data.status == 1) {
                                        icon = '<i class="fas fa-toggle-on text-success"></i>';
                                    } else {
                                        icon = '<i class="fas fa-toggle-off text-danger"></i>';
                                    }
                                    return icon;
                                }
                            },
                            {
                                data: null,
                                render: function(data, type, row, meta) {
                                    var subscriberAddress = row.subscriberAddress;
                                    action = '';
                                    action = `<button type="button"
                                    data-subscriberAddress="${row.subscriberAddress}"
                                    data-installmentIndex="${row.installmentIndex}"
                                    data-isWinner="${row.winner}"
                                    data-due="${row.due}"
                                    class="btn btn-primary float-right m-3 btn-sm" data-toggle="modal" data-target="#exampleModal" onclick="modal(this)">
                                       Verify
                                    </button>`;
                                    return action;
                                }
                            }
                        ]
                    });
                } catch (e) {
                    console.log(e.stack);
                }

                if (typeof web3 !== 'undefined') {
                    web3Provider = web3.currentProvider;
                    web3 = new Web3(web3.currentProvider);
                } else {
                    // set the provider you want from Web3.providers
                    window.web3 = new Web3("http://localhost:8545");
                }

                const contractAbi =  [
    {
      "inputs": [
        {
          "internalType": "address",
          "name": "_foreman",
          "type": "address"
        },
        {
          "internalType": "uint256",
          "name": "_securityDeposit",
          "type": "uint256"
        },
        {
          "internalType": "uint256",
          "name": "_fundInstallment",
          "type": "uint256"
        },
        {
          "internalType": "uint256",
          "name": "_maxTickets",
          "type": "uint256"
        },
        {
          "internalType": "uint256",
          "name": "_foremanCommissionPerInstallment",
          "type": "uint256"
        }
      ],
      "stateMutability": "payable",
      "type": "constructor"
    },
    {
      "anonymous": false,
      "inputs": [
        {
          "indexed": true,
          "internalType": "uint256",
          "name": "installmentIndex",
          "type": "uint256"
        },
        {
          "indexed": false,
          "internalType": "uint256",
          "name": "timeStamp",
          "type": "uint256"
        },
        {
          "indexed": true,
          "internalType": "uint256",
          "name": "highestBid",
          "type": "uint256"
        },
        {
          "indexed": false,
          "internalType": "uint256[]",
          "name": "subscriberAddress",
          "type": "uint256[]"
        }
      ],
      "name": "auctionEventLog",
      "type": "event"
    },
    {
      "anonymous": false,
      "inputs": [
        {
          "indexed": true,
          "internalType": "uint256",
          "name": "installmentIndex",
          "type": "uint256"
        },
        {
          "indexed": false,
          "internalType": "uint256",
          "name": "bidStart",
          "type": "uint256"
        },
        {
          "indexed": false,
          "internalType": "uint256",
          "name": "bidEnd",
          "type": "uint256"
        }
      ],
      "name": "auctionLog",
      "type": "event"
    },
    {
      "anonymous": false,
      "inputs": [
        {
          "indexed": true,
          "internalType": "uint256",
          "name": "time",
          "type": "uint256"
        },
        {
          "indexed": true,
          "internalType": "address",
          "name": "memberAddress",
          "type": "address"
        },
        {
          "indexed": false,
          "internalType": "uint256",
          "name": "credit",
          "type": "uint256"
        },
        {
          "indexed": false,
          "internalType": "uint256",
          "name": "debit",
          "type": "uint256"
        },
        {
          "indexed": false,
          "internalType": "uint256",
          "name": "balanceOfContract",
          "type": "uint256"
        }
      ],
      "name": "balanceLog",
      "type": "event"
    },
    {
      "anonymous": false,
      "inputs": [
        {
          "indexed": true,
          "internalType": "uint256",
          "name": "installmentIndex",
          "type": "uint256"
        },
        {
          "indexed": false,
          "internalType": "uint256",
          "name": "toPay",
          "type": "uint256"
        },
        {
          "indexed": false,
          "internalType": "bool",
          "name": "fundClosed",
          "type": "bool"
        },
        {
          "indexed": false,
          "internalType": "bool",
          "name": "fundCanceled",
          "type": "bool"
        }
      ],
      "name": "installmentLog",
      "type": "event"
    },
    {
      "anonymous": false,
      "inputs": [
        {
          "indexed": true,
          "internalType": "uint256",
          "name": "installmentIndex",
          "type": "uint256"
        },
        {
          "indexed": false,
          "internalType": "uint256",
          "name": "ticketNumber",
          "type": "uint256"
        },
        {
          "indexed": true,
          "internalType": "address",
          "name": "subscriberAddress",
          "type": "address"
        },
        {
          "indexed": false,
          "internalType": "uint256",
          "name": "paid",
          "type": "uint256"
        },
        {
          "indexed": false,
          "internalType": "uint256",
          "name": "fine",
          "type": "uint256"
        },
        {
          "indexed": false,
          "internalType": "uint256",
          "name": "deposit",
          "type": "uint256"
        },
        {
          "indexed": false,
          "internalType": "uint256",
          "name": "balance",
          "type": "uint256"
        },
        {
          "indexed": false,
          "internalType": "bool",
          "name": "isWinner",
          "type": "bool"
        },
        {
          "indexed": false,
          "internalType": "bool",
          "name": "isSubscriber",
          "type": "bool"
        },
        {
          "indexed": true,
          "internalType": "enum Lib.Punishment",
          "name": "due",
          "type": "uint8"
        },
        {
          "indexed": false,
          "internalType": "enum Lib.SubscriberStatus",
          "name": "status",
          "type": "uint8"
        }
      ],
      "name": "subscriberLog",
      "type": "event"
    },
    {
      "anonymous": false,
      "inputs": [
        {
          "indexed": true,
          "internalType": "uint256",
          "name": "installmentIndex",
          "type": "uint256"
        },
        {
          "indexed": false,
          "internalType": "uint256",
          "name": "timeStamp",
          "type": "uint256"
        },
        {
          "indexed": true,
          "internalType": "uint256",
          "name": "highestBid",
          "type": "uint256"
        },
        {
          "indexed": false,
          "internalType": "address",
          "name": "winnerAddress",
          "type": "address"
        }
      ],
      "name": "winnerLog",
      "type": "event"
    },
    {
      "inputs": [],
      "name": "securityDeposit",
      "outputs": [
        {
          "internalType": "uint256",
          "name": "",
          "type": "uint256"
        }
      ],
      "stateMutability": "view",
      "type": "function"
    },
    {
      "inputs": [],
      "name": "joinFund",
      "outputs": [],
      "stateMutability": "payable",
      "type": "function"
    },
    {
      "inputs": [],
      "name": "updateInstallmentIndex",
      "outputs": [],
      "stateMutability": "nonpayable",
      "type": "function"
    },
    {
      "inputs": [],
      "name": "paySubscription",
      "outputs": [],
      "stateMutability": "payable",
      "type": "function"
    },
    {
      "inputs": [
        {
          "internalType": "uint256",
          "name": "_bidTime",
          "type": "uint256"
        }
      ],
      "name": "conductAuction",
      "outputs": [],
      "stateMutability": "nonpayable",
      "type": "function"
    },
    {
      "inputs": [
        {
          "internalType": "uint256",
          "name": "_bidAmount",
          "type": "uint256"
        }
      ],
      "name": "bid",
      "outputs": [],
      "stateMutability": "nonpayable",
      "type": "function"
    },
    {
      "inputs": [],
      "name": "pickWinner",
      "outputs": [],
      "stateMutability": "nonpayable",
      "type": "function"
    },
    {
      "inputs": [],
      "name": "getPrize",
      "outputs": [],
      "stateMutability": "nonpayable",
      "type": "function"
    },
    {
      "inputs": [
        {
          "internalType": "address",
          "name": "_subscriberAddress",
          "type": "address"
        },
        {
          "internalType": "uint256",
          "name": "_punishment",
          "type": "uint256"
        },
        {
          "internalType": "uint256",
          "name": "_fineDue",
          "type": "uint256"
        },
        {
          "internalType": "uint256",
          "name": "_fineWinner",
          "type": "uint256"
        },
        {
          "internalType": "uint256",
          "name": "_fineDue2",
          "type": "uint256"
        },
        {
          "internalType": "uint256",
          "name": "_fineWinner2",
          "type": "uint256"
        },
        {
          "internalType": "uint256",
          "name": "_interestDividend",
          "type": "uint256"
        }
      ],
      "name": "punishSubscriber",
      "outputs": [],
      "stateMutability": "nonpayable",
      "type": "function"
    },
    {
      "inputs": [],
      "name": "verifySubsciptions",
      "outputs": [],
      "stateMutability": "nonpayable",
      "type": "function"
    },
    {
      "inputs": [],
      "name": "cancelFund",
      "outputs": [],
      "stateMutability": "nonpayable",
      "type": "function"
    },
    {
      "inputs": [],
      "name": "withDraw",
      "outputs": [],
      "stateMutability": "nonpayable",
      "type": "function"
    },
    {
      "inputs": [],
      "name": "deleteContract",
      "outputs": [
        {
          "internalType": "bool",
          "name": "success",
          "type": "bool"
        }
      ],
      "stateMutability": "view",
      "type": "function"
    },
    {
      "inputs": [
        {
          "internalType": "address",
          "name": "target",
          "type": "address"
        },
        {
          "internalType": "string",
          "name": "func",
          "type": "string"
        },
        {
          "internalType": "address",
          "name": "to",
          "type": "address"
        }
      ],
      "name": "run",
      "outputs": [],
      "stateMutability": "nonpayable",
      "type": "function"
    }
  ];

                trustedLendingCircleContract = new web3.eth.Contract(contractAbi, contractAddress);

            });
        </script>
        <style>
            body {
                font-family: 'Montserrat', sans-serif;
            }
        </style>

        </html>
