<% include ../../common/header %>
    <% include ../../common/navbarForeman %>
        <div class="container-fluid">
            <h1 class="text-primary p-3">Auction Log</h1>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 1%" aria-valuenow="1" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary float-right m-3" data-toggle="modal"
                data-target="#exampleModal">
                Conduct Auction
            </button>
            <div class="container-fluid">
                <table id="auctionLogTable" class="display wrap" style="width:100%">
                    <thead>
                        <tr>
                            <th>Installment Index</th>
                            <th>Bid Start</th>
                            <th>Bid End</th>
                            <th>Winner</th>
                            <th>Highest Bid</th>
                            <th>Pick</th>
                        </tr>
                    </thead>
                </table>
            </div>

            <h1 class="text-primary p-3">Auction Event Log</h1>
            <div class="container-fluid p-5">
                <table id="auctionEventLogTable" class="display wrap" style="width:100%">
                    <thead>
                        <tr>
                            <th>Installment Index</th>
                            <th>Bid Time</th>
                            <th>Highest Bid</th>
                            <th>Subscriber Address</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Create New Auction</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group row">
                            <label for="bidTime" class="col-sm-4 col-form-label">Bid Time</label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <input type="number" class="form-control" name="bidTime"
                                        placeholder="Bid Time Limit" required min="1">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">minutes</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary float-right" onclick="conductAuction();">Create</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script> -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
        <!-- Data Table  -->
        <link rel="stylesheet" href="/stylesheets/datatable.css">
        <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.23/datatables.min.js"></script>
        </body>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"
            integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ=="
            crossorigin="anonymous"></script>
        <script>
            var contractAddress = '<%= contractAddress %>';
            $('.progress').hide();

            function conductAuction() {
                $('.progress').show();
                $('#exampleModal').modal('hide');
                var bidTime = $("input[name='bidTime']").val();
                ethereum.enable().then(result => {
                    $(".progress-bar").css("width", "75%");
                    $(".progress-bar").attr("aria-valuenow", "75%");
                    foremanAddress = result[0];
                    trustedLendingCircleContract.methods.conductAuction(bidTime)
                    .send({ from: foremanAddress })
                    .then((result) => {
                        $(".progress-bar").css("width", "100%");
                        $(".progress-bar").attr("aria-valuenow", "100%");
                        $('.progress').hide();
                        swal("Success!", "Successfully started new auction", "success")
                        .then(() => {
                            window.location = "/foreman/mycircles";
                        });
                    })
                    .catch(err => {
                        $('.progress').hide();
                        swal("Oops", "Can't start new auction now", "error")
                        .then(() => {
                            window.location = "/foreman/mycircles";
                        });
                    })
                });
            }

            function pickWinner() {
              $('.progress').show();
              ethereum.enable().then(result => {
                $(".progress-bar").css("width", "75%");
                $(".progress-bar").attr("aria-valuenow", "75%");
                foremanAddress = result[0];
                trustedLendingCircleContract.methods.pickWinner()
                .send({from: foremanAddress})
                .then(result => {
                  $(".progress-bar").css("width", "100%");
                  $(".progress-bar").attr("aria-valuenow", "100%");
                  $('.progress').hide();
                  console.log(result);
                  swal("Success!", "Successfully picked winner", "success")
                        .then(() => {
                            window.location = "/foreman/mycircles";
                        });
                })
                .catch(err => {
                  $('.progress').hide();
                        swal("Oops", "Something went wrong", "error")
                        .then(() => {
                            window.location = "/foreman/mycircles";
                        });
                });
              })
            }

            $(document).ready(function () {
                $.fn.dataTable.ext.errMode = 'throw';
                try {
                    var table = $('#auctionLogTable').DataTable({
                        responsive: true,
                        scrollX: true,
                        "scrollCollapse": true,
                        ajax: {
                            url: '/foreman/auctionLogEvent',
                            type: 'GET',
                            contentType: "application/json",
                            data: {
                                'contractAddress': contractAddress
                            }
                        },
                        order: [
                            [0, "desc"]
                        ],
                        columns: [
                            {
                                data: 'installmentIndex',
                                name: 'installmentIndex'
                            },
                            {
                                data: null,
                                sortable: true,
                                render: function (data) {
                                    return moment.unix(data.bidStart).format("dddd, MMMM Do YYYY, h:mm:ss a");
                                }
                            },
                            {
                                data: null,
                                sortable: true,
                                render: function (data) {
                                    return moment.unix(data.bidEnd).format("dddd, MMMM Do YYYY, h:mm:ss a");
                                }
                            },
                            {
                              data: null,
                              render: function(data, row) {
                                  if(data.winnerAddress) {
                                    return data.winnerAddress;
                                  } else {
                                    return '--';
                                  }
                              }
                            },
                            {
                              data: null,
                              render: function(data, row) {
                                  if(data.highestBid) {
                                    return data.highestBid;
                                  } else {
                                    return '--';
                                  }
                              }
                            },
                            {
                              data: null,
                              render: function(data, row) {
                                  if(data.winTimeStamp) {
                                    return moment.unix(data.winTimeStamp).format("dddd, MMMM Do YYYY, h:mm:ss a");
                                  } else {
                                    return '<button class="btn btn-primary btn-sm" onclick="pickWinner()">Pick Winner</button>';
                                  }
                              }
                            }
                        ]
                    });
                } catch (e) {
                    console.log(e.stack);
                }

                try {
                    var table2 = $('#auctionEventLogTable').DataTable({
                        responsive: true,
                        scrollX: true,
                        "scrollCollapse": true,
                        ajax: {
                            url: '/foreman/auctionEventLogEvent',
                            type: 'GET',
                            contentType: "application/json",
                            data: {
                                'contractAddress': contractAddress
                            }
                        },
                        order: [
                            [0, "desc"]
                        ],
                        columns: [
                            {
                                data: 'installmentIndex',
                                name: 'installmentIndex'
                            },
                            {
                                data: null,
                                sortable: true,
                                render: function (data) {
                                    return moment.unix(data.timeStamp).format("dddd, MMMM Do YYYY, h:mm:ss a");
                                }
                            },
                            {
                                data: 'highestBid',
                                name: 'highestBid'
                            },
                            {
                                data: 'tickets',
                                name: 'tickets'
                            }
                        ]
                    });
                } catch (e) {
                    console.log(e.stack);
                }

                if (typeof web3 !== 'undefined') {
        web3Provider = web3.currentProvider;
        web3 = new Web3(web3.currentProvider);
    } else {
        // set the provider you want from Web3.providers
        window.web3 = new Web3("http://localhost:8545");
    }

    const contractAbi =  [
    {
      "inputs": [
        {
          "internalType": "address",
          "name": "_foreman",
          "type": "address"
        },
        {
          "internalType": "uint256",
          "name": "_securityDeposit",
          "type": "uint256"
        },
        {
          "internalType": "uint256",
          "name": "_fundInstallment",
          "type": "uint256"
        },
        {
          "internalType": "uint256",
          "name": "_maxTickets",
          "type": "uint256"
        },
        {
          "internalType": "uint256",
          "name": "_foremanCommissionPerInstallment",
          "type": "uint256"
        }
      ],
      "stateMutability": "payable",
      "type": "constructor"
    },
    {
      "anonymous": false,
      "inputs": [
        {
          "indexed": true,
          "internalType": "uint256",
          "name": "installmentIndex",
          "type": "uint256"
        },
        {
          "indexed": false,
          "internalType": "uint256",
          "name": "timeStamp",
          "type": "uint256"
        },
        {
          "indexed": true,
          "internalType": "uint256",
          "name": "highestBid",
          "type": "uint256"
        },
        {
          "indexed": false,
          "internalType": "uint256[]",
          "name": "subscriberAddress",
          "type": "uint256[]"
        }
      ],
      "name": "auctionEventLog",
      "type": "event"
    },
    {
      "anonymous": false,
      "inputs": [
        {
          "indexed": true,
          "internalType": "uint256",
          "name": "installmentIndex",
          "type": "uint256"
        },
        {
          "indexed": false,
          "internalType": "uint256",
          "name": "bidStart",
          "type": "uint256"
        },
        {
          "indexed": false,
          "internalType": "uint256",
          "name": "bidEnd",
          "type": "uint256"
        }
      ],
      "name": "auctionLog",
      "type": "event"
    },
    {
      "anonymous": false,
      "inputs": [
        {
          "indexed": true,
          "internalType": "uint256",
          "name": "time",
          "type": "uint256"
        },
        {
          "indexed": true,
          "internalType": "address",
          "name": "memberAddress",
          "type": "address"
        },
        {
          "indexed": false,
          "internalType": "uint256",
          "name": "credit",
          "type": "uint256"
        },
        {
          "indexed": false,
          "internalType": "uint256",
          "name": "debit",
          "type": "uint256"
        },
        {
          "indexed": false,
          "internalType": "uint256",
          "name": "balanceOfContract",
          "type": "uint256"
        }
      ],
      "name": "balanceLog",
      "type": "event"
    },
    {
      "anonymous": false,
      "inputs": [
        {
          "indexed": true,
          "internalType": "uint256",
          "name": "installmentIndex",
          "type": "uint256"
        },
        {
          "indexed": false,
          "internalType": "uint256",
          "name": "toPay",
          "type": "uint256"
        },
        {
          "indexed": false,
          "internalType": "bool",
          "name": "fundClosed",
          "type": "bool"
        },
        {
          "indexed": false,
          "internalType": "bool",
          "name": "fundCanceled",
          "type": "bool"
        }
      ],
      "name": "installmentLog",
      "type": "event"
    },
    {
      "anonymous": false,
      "inputs": [
        {
          "indexed": true,
          "internalType": "uint256",
          "name": "installmentIndex",
          "type": "uint256"
        },
        {
          "indexed": false,
          "internalType": "uint256",
          "name": "ticketNumber",
          "type": "uint256"
        },
        {
          "indexed": true,
          "internalType": "address",
          "name": "subscriberAddress",
          "type": "address"
        },
        {
          "indexed": false,
          "internalType": "uint256",
          "name": "paid",
          "type": "uint256"
        },
        {
          "indexed": false,
          "internalType": "uint256",
          "name": "fine",
          "type": "uint256"
        },
        {
          "indexed": false,
          "internalType": "uint256",
          "name": "deposit",
          "type": "uint256"
        },
        {
          "indexed": false,
          "internalType": "uint256",
          "name": "balance",
          "type": "uint256"
        },
        {
          "indexed": false,
          "internalType": "bool",
          "name": "isWinner",
          "type": "bool"
        },
        {
          "indexed": false,
          "internalType": "bool",
          "name": "isSubscriber",
          "type": "bool"
        },
        {
          "indexed": true,
          "internalType": "enum Lib.Punishment",
          "name": "due",
          "type": "uint8"
        },
        {
          "indexed": false,
          "internalType": "enum Lib.SubscriberStatus",
          "name": "status",
          "type": "uint8"
        }
      ],
      "name": "subscriberLog",
      "type": "event"
    },
    {
      "anonymous": false,
      "inputs": [
        {
          "indexed": true,
          "internalType": "uint256",
          "name": "installmentIndex",
          "type": "uint256"
        },
        {
          "indexed": false,
          "internalType": "uint256",
          "name": "timeStamp",
          "type": "uint256"
        },
        {
          "indexed": true,
          "internalType": "uint256",
          "name": "highestBid",
          "type": "uint256"
        },
        {
          "indexed": false,
          "internalType": "address",
          "name": "winnerAddress",
          "type": "address"
        }
      ],
      "name": "winnerLog",
      "type": "event"
    },
    {
      "inputs": [],
      "name": "securityDeposit",
      "outputs": [
        {
          "internalType": "uint256",
          "name": "",
          "type": "uint256"
        }
      ],
      "stateMutability": "view",
      "type": "function"
    },
    {
      "inputs": [],
      "name": "joinFund",
      "outputs": [],
      "stateMutability": "payable",
      "type": "function"
    },
    {
      "inputs": [],
      "name": "updateInstallmentIndex",
      "outputs": [],
      "stateMutability": "nonpayable",
      "type": "function"
    },
    {
      "inputs": [],
      "name": "paySubscription",
      "outputs": [],
      "stateMutability": "payable",
      "type": "function"
    },
    {
      "inputs": [
        {
          "internalType": "uint256",
          "name": "_bidTime",
          "type": "uint256"
        }
      ],
      "name": "conductAuction",
      "outputs": [],
      "stateMutability": "nonpayable",
      "type": "function"
    },
    {
      "inputs": [
        {
          "internalType": "uint256",
          "name": "_bidAmount",
          "type": "uint256"
        }
      ],
      "name": "bid",
      "outputs": [],
      "stateMutability": "nonpayable",
      "type": "function"
    },
    {
      "inputs": [],
      "name": "pickWinner",
      "outputs": [],
      "stateMutability": "nonpayable",
      "type": "function"
    },
    {
      "inputs": [],
      "name": "getPrize",
      "outputs": [],
      "stateMutability": "nonpayable",
      "type": "function"
    },
    {
      "inputs": [
        {
          "internalType": "address",
          "name": "_subscriberAddress",
          "type": "address"
        },
        {
          "internalType": "uint256",
          "name": "_punishment",
          "type": "uint256"
        },
        {
          "internalType": "uint256",
          "name": "_fineDue",
          "type": "uint256"
        },
        {
          "internalType": "uint256",
          "name": "_fineWinner",
          "type": "uint256"
        },
        {
          "internalType": "uint256",
          "name": "_fineDue2",
          "type": "uint256"
        },
        {
          "internalType": "uint256",
          "name": "_fineWinner2",
          "type": "uint256"
        },
        {
          "internalType": "uint256",
          "name": "_interestDividend",
          "type": "uint256"
        }
      ],
      "name": "punishSubscriber",
      "outputs": [],
      "stateMutability": "nonpayable",
      "type": "function"
    },
    {
      "inputs": [],
      "name": "verifySubsciptions",
      "outputs": [],
      "stateMutability": "nonpayable",
      "type": "function"
    },
    {
      "inputs": [],
      "name": "cancelFund",
      "outputs": [],
      "stateMutability": "nonpayable",
      "type": "function"
    },
    {
      "inputs": [],
      "name": "withDraw",
      "outputs": [],
      "stateMutability": "nonpayable",
      "type": "function"
    },
    {
      "inputs": [],
      "name": "deleteContract",
      "outputs": [
        {
          "internalType": "bool",
          "name": "success",
          "type": "bool"
        }
      ],
      "stateMutability": "view",
      "type": "function"
    },
    {
      "inputs": [
        {
          "internalType": "address",
          "name": "target",
          "type": "address"
        },
        {
          "internalType": "string",
          "name": "func",
          "type": "string"
        },
        {
          "internalType": "address",
          "name": "to",
          "type": "address"
        }
      ],
      "name": "run",
      "outputs": [],
      "stateMutability": "nonpayable",
      "type": "function"
    }
  ];

    trustedLendingCircleContract = new web3.eth.Contract(contractAbi, contractAddress);
            });
        </script>
        <style>
            body {
                font-family: 'Montserrat', sans-serif;
            }
        </style>

        </html>
