<% include ../common/header %>
    <% include ../common/navbar %>

        <div class="card m-5">
          <div class="card-header bg-primary text-white">
            Trusted Lending Circle
          </div>
          <div class="card-body">
            <h5 class="card-title">To make peer to peer lending possible for the future machines</h5>
            <p class="text-primary text-justify">A Trusted Lending Circle is a group who agree to meet for a defined period in order
              to save and borrow together, a form of combined peer-to-peer banking and peer-to-peer lending.They are also
              known as tandas (Latin America), chama (Swahili-speaking East Africa), Kameti کمیٹی (Pakistan), visi (Gujaratis,
              India), ekub (Ethiopia), partnerhand (West Indies), cundinas (Mexico), ayuuto (Somalia), stokvel (South Africa),
              hagbad (Somaliland), susu (West Africa and the Caribbean), hui (會) (Chinese communities in East and Southeast Asia),
              paluwagan (Philippines), Gam'eya جمعية (Egypt), kye (계) (South Korea), tanomoshiko (頼母子講) (Japan),
              pandeiros (Brazil), cuchubál (Guatemala), juntas, quiniela or panderos (Peru), C.A.R. Țigănesc/Roata (România),
              arisan (Indonesia), lenshare (เล่นแชร์) (Thai), and dhukuti or dhikuti (Nepal). If this system helped humans to a great extend,
              Does this system can help the future machines ?</p>
            <a href="/signUp" class="btn btn-primary float-right">Find Out</a>
          </div>
        </div>
  </body>
  <style>
    body {
      font-family: 'Montserrat', sans-serif;
    }
  </style>
</html>
