<% include ../common/header %>
    <% include ../common/navbarSignUp %>
      <div class="container-fluid col-sm-4 mt-5">
        <h1 class="text-primary">Login</h1>

        <!-- <div class="row">
          <div class="col-sm-8"> -->
            <div class="card border-primary" style="box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28); border-radius: 20px;">
              <div class="card-body">

                <!-- Makes POST request to /login route -->
                <form action="/logIn" method="POST">
                  <div class="form-group">
                    <label for="walletAddress" class="text-primary">Wallet Address</label>
                    <input type="text" class="form-control" name="walletAddress">
                  </div>
                  <div class="form-group">
                    <label for="password" class="text-primary">Password</label>
                    <input type="password" class="form-control" name="password">
                  </div>
                  <button type="submit" class="btn btn-primary float-right">Login</button>
                </form>

              </div>
            </div>
          </div>

          <!-- <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <a class="btn btn-block" href="/auth/google" role="button">
                  <i class="fab fa-google"></i>
                  Sign In with Google
                </a>
              </div>
            </div>
          </div> -->

        <!-- </div>
      </div> -->
</body>
<style>
  body {
      font-family: 'Montserrat', sans-serif;
  }
</style>
</html>
