<% include ../common/header %>
    <% include ../common/navbarSignUp %>
      <div class="container-fluid col-sm-4 mt-5">
        <h1 class="text-primary">Sign Up</h1>

        <!-- <div class="row">
          <div class="col-sm-8"> -->
            <div class="card border-primary" style="box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28); border-radius: 20px;">
              <div class="card-body">

                <!-- Makes POST request to /register route -->
                <form action="#" method="POST" id="login">
                  <div class="form-group">
                    <label for="walletAddress" class="text-primary">Wallet Address</label>
                    <input type="walletAddress" class="form-control" name="walletAddress">
                  </div>
                  <div class="form-group">
                    <label for="password" class="text-primary">Password</label>
                    <input type="password" class="form-control" name="password">
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="role" id="role1" value="1" checked>
                    <label class="form-check-label text-primary" for="role1">
                      Foreman
                    </label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="role" id="role2" value="2">
                    <label class="form-check-label text-primary" for="role2">
                      Subscriber
                    </label>
                  </div>
                    <button type="submit" class="btn btn-primary float-right">Register</button>
                </form>
              </div>
            </div>
          </div>

          <!-- <div class="col-sm-4">
            <div class="card social-block">
              <div class="card-body">
                <a class="btn btn-block" href="/auth/google" role="button">
                  <i class="fab fa-google"></i>
                  Sign Up with Google
                </a>
              </div>
            </div>
          </div> -->

        <!-- </div>
      </div> -->
</body>
<style>
  body {
      font-family: 'Montserrat', sans-serif;
  }
</style>
</html>
