<nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <!-- <li class="nav-item active">
                <a class="nav-link" href="/"><i class="fas fa-home pr-2"></i>Home</a>
            </li> -->
        </ul>
    </div>
    <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto" href="/"><span><i class="fab fa-ethereum fa-lg pr-2"></i></span>Trusted Lending Circle</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/signUp" title="Sign Up"><span>Sign Up<i class="fas fa-user-plus fa-lg pl-2"></i></span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/logIn" title="Log In"><span>Log In<i class="fas fa-sign-in-alt fa-lg pl-2"></i></span></a>
            </li>
        </ul>
    </div>
</nav>
