<% include ../common/header %>
    <% include ../common/navbarSubscriber %>
    <div class="container-fluid mt-5">
        <div class="container">
            <div class="card-columns">
                <% for (var i = 0; i < events.length; i++) { %>
                    <div class="card border-primary" style="box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28); border-radius: 20px;">
                        <div class="card-body">
                          <h5 class="card-title text-primary"><%= events[i].fundName %></h5>
                          <p class="card-text text-muted">Amount: <%= events[i].installmentAmount %></p>
                          <p class="card-text text-muted">Installments: <%= events[i].noOfInstallments %></p>
                          <p class="card-text text-muted"><%= events[i].fundAddress %></p>
                          <a class="btn btn-primary btn-lg float-right m-3" href="/subscriber/view/<%= events[i].fundAddress %>/<%= events[i].fundName %>/<%= events[i].installmentAmount %>/<%= events[i].noOfInstallments %>">Join</a>
                        </div>
                    </div>
               <% } %>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
<style>
    body {
        font-family: 'Montserrat', sans-serif;
    }
</style>
</html>
