<% include ../common/header %>
    <% include ../common/navbarForeman %>
        <div class="container-fluid">
            <h1 class="text-primary p-3">Balance Log</h1>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 1%" aria-valuenow="1" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div>
              <button class="btn btn-primary float-left m-3" onclick="closeContract()">Close Contract</button>
          </div>
            <div>
                <button class="btn btn-primary float-right m-3" onclick="withDraw()">With Draw</button>
            </div>
            <div class="container-fluid">
                <table id="balanceLogTable" class="display wrap" style="width:100%">
                    <thead>
                        <tr>
                            <th>Time</th>
                            <th>Subscriber Address</th>
                            <th>Credit</th>
                            <th>Debit</th>
                            <th>Balance</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script> -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
        <!-- Data Table  -->
        <link rel="stylesheet" href="/stylesheets/datatable.css">
        <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.23/datatables.min.js"></script>
        </body>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous"></script>
        <script>
            const contractAddress = "<%= contractAddress %>";

            $('.progress').hide();

            function closeContract() {
                $('.progress').show();
                $(".progress-bar").css("width", "50%");
                $(".progress-bar").attr("aria-valuenow", "50%");
                ethereum.enable().then(result => {
                    foremanAddress = result[0];
                    foremanContract.methods.updateFundStatus("anand")
                    .send({ from: foremanAddress })
                    .then((result) => {
                        $(".progress-bar").css("width", "100%");
                        $(".progress-bar").attr("aria-valuenow", "100%");
                        $('.progress').hide();
                        console.log(result);
                        swal("Success!", "Successfully with drawed your security deposit", "success")
                        .then(() => {
                            window.location = "/foreman/mycircles";
                        });
                    })
                    .catch(err => {
                        $('.progress').hide();
                        swal("Oops", "Something went wrong", "error")
                        .then(() => {
                            window.location = "/foreman/mycircles";
                        });
                    })
                });
            }

            function withDraw() {
                $('.progress').show();
                $(".progress-bar").css("width", "50%");
                $(".progress-bar").attr("aria-valuenow", "50%");
                ethereum.enable().then(result => {
                    subscriberAddress = result[0];
                    trustedLendingCircleContract.methods.withDraw()
                    .send({ from: subscriberAddress })
                    .then((result) => {
                        $(".progress-bar").css("width", "100%");
                        $(".progress-bar").attr("aria-valuenow", "100%");
                        $('.progress').hide();
                        swal("Success!", "Successfully with drawed your amount", "success")
                        .then(() => {
                            window.location = "/foreman/mycircles";
                        });
                    })
                    .catch(err => {
                        $('.progress').hide();
                        swal("Oops", "Something went wrong", "error")
                        .then(() => {
                            window.location = "/foreman/mycircles";
                        });
                    })
                });
            }

            $(document).ready(function () {
                $.fn.dataTable.ext.errMode = 'throw';
                try {
                    var table = $('#balanceLogTable').DataTable({
                        // processing: false,
                        // serverSide: true,
                        responsive: true,
                        //bInfo: false,
                        // dom: 'lfrtBip',
                        scrollX: true,
                        //"scrollY": "450px",
                        "scrollCollapse": true,
                        ajax: {
                            url: '/foreman/balanceLogEvent',
                            type: 'GET',
                            contentType: "application/json",
                            data: {
                                'contractAddress': contractAddress
                            }
                        },
                        order: [
                            [0, "desc"]
                        ],
                        columns: [
                            {
                                data: null,
                                sortable: true,
                                render: function (data) {
                                    return moment.unix(data.time).format("dddd, MMMM Do YYYY, h:mm:ss a");
                                }
                            },
                            {
                                data: 'subscriberAddress',
                                name: 'subscriberAddress'
                            },
                            {
                                data: 'credit',
                                name: 'credit'
                            },
                            {
                                data: 'debit',
                                name: 'debit'
                            },
                            {
                                data: 'balance',
                                data: 'balance'
                            }
                        ]
                    });
                } catch (e) {
                    console.log(e.stack);
                }

                if (typeof web3 !== 'undefined') {
                    web3Provider = web3.currentProvider;
                    web3 = new Web3(web3.currentProvider);
                } else {
                    // set the provider you want from Web3.providers
                    window.web3 = new Web3("http://localhost:8545");
                }

                const contractAbi =  [
    {
      "inputs": [
        {
          "internalType": "address",
          "name": "_foreman",
          "type": "address"
        },
        {
          "internalType": "uint256",
          "name": "_securityDeposit",
          "type": "uint256"
        },
        {
          "internalType": "uint256",
          "name": "_fundInstallment",
          "type": "uint256"
        },
        {
          "internalType": "uint256",
          "name": "_maxTickets",
          "type": "uint256"
        },
        {
          "internalType": "uint256",
          "name": "_foremanCommissionPerInstallment",
          "type": "uint256"
        }
      ],
      "stateMutability": "payable",
      "type": "constructor"
    },
    {
      "anonymous": false,
      "inputs": [
        {
          "indexed": true,
          "internalType": "uint256",
          "name": "installmentIndex",
          "type": "uint256"
        },
        {
          "indexed": false,
          "internalType": "uint256",
          "name": "timeStamp",
          "type": "uint256"
        },
        {
          "indexed": true,
          "internalType": "uint256",
          "name": "highestBid",
          "type": "uint256"
        },
        {
          "indexed": false,
          "internalType": "uint256[]",
          "name": "subscriberAddress",
          "type": "uint256[]"
        }
      ],
      "name": "auctionEventLog",
      "type": "event"
    },
    {
      "anonymous": false,
      "inputs": [
        {
          "indexed": true,
          "internalType": "uint256",
          "name": "installmentIndex",
          "type": "uint256"
        },
        {
          "indexed": false,
          "internalType": "uint256",
          "name": "bidStart",
          "type": "uint256"
        },
        {
          "indexed": false,
          "internalType": "uint256",
          "name": "bidEnd",
          "type": "uint256"
        }
      ],
      "name": "auctionLog",
      "type": "event"
    },
    {
      "anonymous": false,
      "inputs": [
        {
          "indexed": true,
          "internalType": "uint256",
          "name": "time",
          "type": "uint256"
        },
        {
          "indexed": true,
          "internalType": "address",
          "name": "memberAddress",
          "type": "address"
        },
        {
          "indexed": false,
          "internalType": "uint256",
          "name": "credit",
          "type": "uint256"
        },
        {
          "indexed": false,
          "internalType": "uint256",
          "name": "debit",
          "type": "uint256"
        },
        {
          "indexed": false,
          "internalType": "uint256",
          "name": "balanceOfContract",
          "type": "uint256"
        }
      ],
      "name": "balanceLog",
      "type": "event"
    },
    {
      "anonymous": false,
      "inputs": [
        {
          "indexed": true,
          "internalType": "uint256",
          "name": "installmentIndex",
          "type": "uint256"
        },
        {
          "indexed": false,
          "internalType": "uint256",
          "name": "toPay",
          "type": "uint256"
        },
        {
          "indexed": false,
          "internalType": "bool",
          "name": "fundClosed",
          "type": "bool"
        },
        {
          "indexed": false,
          "internalType": "bool",
          "name": "fundCanceled",
          "type": "bool"
        }
      ],
      "name": "installmentLog",
      "type": "event"
    },
    {
      "anonymous": false,
      "inputs": [
        {
          "indexed": true,
          "internalType": "uint256",
          "name": "installmentIndex",
          "type": "uint256"
        },
        {
          "indexed": false,
          "internalType": "uint256",
          "name": "ticketNumber",
          "type": "uint256"
        },
        {
          "indexed": true,
          "internalType": "address",
          "name": "subscriberAddress",
          "type": "address"
        },
        {
          "indexed": false,
          "internalType": "uint256",
          "name": "paid",
          "type": "uint256"
        },
        {
          "indexed": false,
          "internalType": "uint256",
          "name": "fine",
          "type": "uint256"
        },
        {
          "indexed": false,
          "internalType": "uint256",
          "name": "deposit",
          "type": "uint256"
        },
        {
          "indexed": false,
          "internalType": "uint256",
          "name": "balance",
          "type": "uint256"
        },
        {
          "indexed": false,
          "internalType": "bool",
          "name": "isWinner",
          "type": "bool"
        },
        {
          "indexed": false,
          "internalType": "bool",
          "name": "isSubscriber",
          "type": "bool"
        },
        {
          "indexed": true,
          "internalType": "enum Lib.Punishment",
          "name": "due",
          "type": "uint8"
        },
        {
          "indexed": false,
          "internalType": "enum Lib.SubscriberStatus",
          "name": "status",
          "type": "uint8"
        }
      ],
      "name": "subscriberLog",
      "type": "event"
    },
    {
      "anonymous": false,
      "inputs": [
        {
          "indexed": true,
          "internalType": "uint256",
          "name": "installmentIndex",
          "type": "uint256"
        },
        {
          "indexed": false,
          "internalType": "uint256",
          "name": "timeStamp",
          "type": "uint256"
        },
        {
          "indexed": true,
          "internalType": "uint256",
          "name": "highestBid",
          "type": "uint256"
        },
        {
          "indexed": false,
          "internalType": "address",
          "name": "winnerAddress",
          "type": "address"
        }
      ],
      "name": "winnerLog",
      "type": "event"
    },
    {
      "inputs": [],
      "name": "securityDeposit",
      "outputs": [
        {
          "internalType": "uint256",
          "name": "",
          "type": "uint256"
        }
      ],
      "stateMutability": "view",
      "type": "function"
    },
    {
      "inputs": [],
      "name": "joinFund",
      "outputs": [],
      "stateMutability": "payable",
      "type": "function"
    },
    {
      "inputs": [],
      "name": "updateInstallmentIndex",
      "outputs": [],
      "stateMutability": "nonpayable",
      "type": "function"
    },
    {
      "inputs": [],
      "name": "paySubscription",
      "outputs": [],
      "stateMutability": "payable",
      "type": "function"
    },
    {
      "inputs": [
        {
          "internalType": "uint256",
          "name": "_bidTime",
          "type": "uint256"
        }
      ],
      "name": "conductAuction",
      "outputs": [],
      "stateMutability": "nonpayable",
      "type": "function"
    },
    {
      "inputs": [
        {
          "internalType": "uint256",
          "name": "_bidAmount",
          "type": "uint256"
        }
      ],
      "name": "bid",
      "outputs": [],
      "stateMutability": "nonpayable",
      "type": "function"
    },
    {
      "inputs": [],
      "name": "pickWinner",
      "outputs": [],
      "stateMutability": "nonpayable",
      "type": "function"
    },
    {
      "inputs": [],
      "name": "getPrize",
      "outputs": [],
      "stateMutability": "nonpayable",
      "type": "function"
    },
    {
      "inputs": [
        {
          "internalType": "address",
          "name": "_subscriberAddress",
          "type": "address"
        },
        {
          "internalType": "uint256",
          "name": "_punishment",
          "type": "uint256"
        },
        {
          "internalType": "uint256",
          "name": "_fineDue",
          "type": "uint256"
        },
        {
          "internalType": "uint256",
          "name": "_fineWinner",
          "type": "uint256"
        },
        {
          "internalType": "uint256",
          "name": "_fineDue2",
          "type": "uint256"
        },
        {
          "internalType": "uint256",
          "name": "_fineWinner2",
          "type": "uint256"
        },
        {
          "internalType": "uint256",
          "name": "_interestDividend",
          "type": "uint256"
        }
      ],
      "name": "punishSubscriber",
      "outputs": [],
      "stateMutability": "nonpayable",
      "type": "function"
    },
    {
      "inputs": [],
      "name": "verifySubsciptions",
      "outputs": [],
      "stateMutability": "nonpayable",
      "type": "function"
    },
    {
      "inputs": [],
      "name": "cancelFund",
      "outputs": [],
      "stateMutability": "nonpayable",
      "type": "function"
    },
    {
      "inputs": [],
      "name": "withDraw",
      "outputs": [],
      "stateMutability": "nonpayable",
      "type": "function"
    },
    {
      "inputs": [],
      "name": "deleteContract",
      "outputs": [
        {
          "internalType": "bool",
          "name": "success",
          "type": "bool"
        }
      ],
      "stateMutability": "view",
      "type": "function"
    },
    {
      "inputs": [
        {
          "internalType": "address",
          "name": "target",
          "type": "address"
        },
        {
          "internalType": "string",
          "name": "func",
          "type": "string"
        },
        {
          "internalType": "address",
          "name": "to",
          "type": "address"
        }
      ],
      "name": "run",
      "outputs": [],
      "stateMutability": "nonpayable",
      "type": "function"
    }
  ];

                trustedLendingCircleContract = new web3.eth.Contract(contractAbi, contractAddress);

                const contractAddressForeman = "0x30000e6Acc01448e776da6046E4AB3A0A0a90A7b";
                const contractAbiForeman = [
    {
      "anonymous": false,
      "inputs": [
        {
          "indexed": true,
          "internalType": "uint256",
          "name": "fundIndex",
          "type": "uint256"
        },
        {
          "indexed": false,
          "internalType": "string",
          "name": "fundName",
          "type": "string"
        },
        {
          "indexed": false,
          "internalType": "address",
          "name": "fundAddress",
          "type": "address"
        },
        {
          "indexed": true,
          "internalType": "address",
          "name": "foreman",
          "type": "address"
        },
        {
          "indexed": false,
          "internalType": "uint256",
          "name": "installmentAmount",
          "type": "uint256"
        },
        {
          "indexed": false,
          "internalType": "uint256",
          "name": "noOfInstallments",
          "type": "uint256"
        },
        {
          "indexed": true,
          "internalType": "enum Lib.FundStatus",
          "name": "status",
          "type": "uint8"
        }
      ],
      "name": "fundLog",
      "type": "event"
    },
    {
      "inputs": [
        {
          "internalType": "string",
          "name": "_fundName",
          "type": "string"
        },
        {
          "internalType": "uint256",
          "name": "_fundInstallment",
          "type": "uint256"
        },
        {
          "internalType": "uint256",
          "name": "_maxTicketNumber",
          "type": "uint256"
        },
        {
          "internalType": "uint256",
          "name": "_foremanCommission",
          "type": "uint256"
        }
      ],
      "name": "createFund",
      "outputs": [],
      "stateMutability": "payable",
      "type": "function",
      "payable": true
    },
    {
      "inputs": [],
      "name": "getDeployedFund",
      "outputs": [
        {
          "internalType": "address",
          "name": "",
          "type": "address"
        }
      ],
      "stateMutability": "view",
      "type": "function",
      "constant": true
    },
    {
      "inputs": [
        {
          "internalType": "string",
          "name": "_fundName",
          "type": "string"
        }
      ],
      "name": "updateFundStatus",
      "outputs": [],
      "stateMutability": "nonpayable",
      "type": "function"
    }
  ];

                foremanContract = new web3.eth.Contract(contractAbiForeman, contractAddressForeman);
            });
        </script>

        <style>
            body {
                font-family: 'Montserrat', sans-serif;
            }
        </style>

        </html>
