<% include ../common/header %>
    <% include ../common/navbarForeman %>
        <div class="container-fluid">
            <h1 class="text-primary p-3">Installment Log</h1>
            <div class="container col-md-12">
                <button class="btn btn-primary btn-lg float-right mb-4" onclick="updateInstallmentIndex()">Update
                    Installment Index</button>
                <table id="installmentLogTable" class="display wrap" style="width:100%">
                    <thead>
                        <tr>
                            <th>Index</th>
                            <th>Pay</th>
                            <th>Fund Closed</th>
                            <th>Fund Canceled</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script> -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
        <!-- Data Table  -->
        <link rel="stylesheet" href="/stylesheets/datatable.css">
        <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.23/datatables.min.js"></script>
        </body>
        <script>
            var contractAddress = '<%= contractAddress %>';
            var foremanAccount;
            $(document).ready(function () {
                ethereum.enable().then(result => {
                    foremanAccount = result[0];
                });
                $.fn.dataTable.ext.errMode = 'throw';
                try {
                    var table = $('#installmentLogTable').DataTable({
                        // processing: false,
                        // serverSide: true,
                        responsive: true,
                        //bInfo: false,
                        // dom: 'lfrtBip',
                        scrollX: true,
                        //"scrollY": "450px",
                        "scrollCollapse": true,
                        ajax: {
                            url: '/foreman/installmentLogEvent',
                            type: 'GET',
                            contentType: "application/json",
                            data: {
                                'contractAddress': contractAddress
                            }
                        },
                        order: [
                            [0, "desc"]
                        ],
                        columns: [
                            {
                                data: null,
                                render: function (data) {
                                    return data.index;
                                }
                            },
                            {
                                data: 'Pay',
                                name: 'Pay'
                            },
                            {
                                data: null,
                                render: function (data) {
                                    var icon = '';
                                    if (data.fundClosed == true) {
                                        icon = '<i class="fas fa-check-circle text-success"></i>';
                                    } else {
                                        icon = '<i class="fas fa-times-circle text-danger"></i>';
                                    }
                                    return icon;
                                }
                            },
                            {
                                data: null,
                                render: function (data) {
                                    var icon = '';
                                    if (data.fundCanceled == true) {
                                        icon = '<i class="fas fa-check-circle text-success"></i>';
                                    } else {
                                        icon = '<i class="fas fa-times-circle text-danger"></i>';
                                    }
                                    return icon;
                                }
                            }
                        ]
                    });
                } catch (e) {
                    console.log(e.stack);
                }
            });

            function updateInstallmentIndex() {
                $.ajax({
                    type: 'GET',
                    url: '/foreman/updateInstallmentIndex',
                    contentType: "application/json",
                    data: {
                        'contractAddress': contractAddress,
                        'foremanAccount': foremanAccount
                    },
                    success: function (data) {
                        if (data.message == 'success') {
                            swal("Success!", "Successfully updated fund installment", "success")
                                .then(() => {
                                    window.location = "/foreman/mycircles";
                                });
                        } else {
                            swal("Oops", "Installment can't be updated now", "error")
                                .then(() => {
                                    window.location = "/foreman/mycircles";
                                });
                        }

                    },
                    error: function (MLHttpRequest, textStatus, errorThrown) {
                        alert(errorThrown);
                    }
                });
            }
        </script>

        <style>
            body {
                font-family: 'Montserrat', sans-serif;
            }
        </style>

        </html>
