<% include ../common/header %>
    <% include ../common/navbarForeman %>
        <div class="container-fluid pt-5">
            <h1 class="text-primary">My Circle</h1>
        </div>

        <div class="container-fluid col-md-6 pt-5" id="fundCard">
            <div class="card text-center border border-primary">
                <div class="card-header bg-primary text-white" id="fundName"></div>
                <div class="card-body">
                    <label for="installmentAmount" class="text-primary">Installments</label>
                    <p class="card-text" id="installment"></p>
                    <label for="installmentAmount" class="text-primary">Installment Amount</label>
                    <p class="card-text" id="installmentAmount"></p>
                    <label for="fundAddress" class="text-primary">Fund Address</label>
                    <p class="card-text" id="fundAddress"></p>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a href="/foreman/subscriberLog/" class="btn btn-primary" role="button"
                            id="subscriberLogLink">Subscriber Events</a>
                        <a href="/foreman/balanceLog" class="btn btn-primary" role="button" id="balanceLogLink">
                            Balance</a>
                        <a href="/foreman/installmentLog" class="btn btn-primary" role="button"
                            id="installmentLogLink">Installment Log</a>
                        <a href="/foreman/auctionLog" class="btn btn-primary" role="button" id="auctionLogLink">Auction
                            </a>
                        <a href="/foreman/verificationLog" class="btn btn-primary" role="button" id="verificationLogLink">Verify
                            </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
        </body>
        <script src="/javascripts/mycircle.js"></script>
        <style>
            body {
                font-family: 'Montserrat', sans-serif;
            }
        </style>

        </html>
