<% include ../common/header %>
    <% include ../common/navbarForeman %>
        <div class="container-fluid pt-5">
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 1%" aria-valuenow="1" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
            <button onclick="connectToMetMask()" class="btn btn-primary btn-lg float-right"> Connect To MetaMask
            </button>
        </div>
        <div class="container-fluid col-sm-6 mt-5">
            <div class="card border-primary"
                style="box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28); border-radius: 20px;">
                <h5 class="card-header text-primary">Trusted Lending Circle</h5>
                <div class="card-body">
                    <form action="#" method="POST" id="create">
                        <div class="form-group row">
                            <label for="fundName" class="col-sm-3 col-form-label">Fund Name</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="fundName" placeholder="Fund Name"
                                    required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="fundInstallment" class="col-sm-3 col-form-label">Fund Installment</label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <input type="text" class="form-control" name="fundInstallment"
                                        placeholder="Fund Installment" required>
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">wei</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="maxTicketNumber" class="col-sm-3 col-form-label">Maximum Ticket</label>
                            <div class="col-sm-8">
                                <input type="number" class="form-control" name="maxTicketNumber"
                                    placeholder="Maximum number of subscribers allowed" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="foremanCommission" class="col-sm-3 col-form-label">Foreman Commission</label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <input type="text" class="form-control" name="foremanCommission"
                                        placeholder="Foreman Commission" required>
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">wei</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-11">
                                <input type="submit" value="Save" class="btn btn-primary float-right" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <p class="text-danger m-5 text-center">NB: Foreman can start a fund by depositing amount equal to the product of
          fund installment and maximum ticket, and commission of about 5% of the security deposit.</p>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
        </body>
        <!-- <script src="/javascripts/newCircleForm.js"></script> -->
        <script>
           $('.progress').hide();
            function connectToMetMask() {
                ethereum.enable().then(result => {
                    accounts = result[0];
                })
            }
            $(function () {
                // ethereum.enable();
                if (typeof web3 !== 'undefined') {
                    web3Provider = web3.currentProvider;
                    web3 = new Web3(web3.currentProvider);
                } else {
                    // set the provider you want from Web3.providers
                    window.web3 = new Web3("http://localhost:8545");
                }

                const contractAddress = "0x30000e6Acc01448e776da6046E4AB3A0A0a90A7b";
                const contractAbi = [
    {
      "anonymous": false,
      "inputs": [
        {
          "indexed": true,
          "internalType": "uint256",
          "name": "fundIndex",
          "type": "uint256"
        },
        {
          "indexed": false,
          "internalType": "string",
          "name": "fundName",
          "type": "string"
        },
        {
          "indexed": false,
          "internalType": "address",
          "name": "fundAddress",
          "type": "address"
        },
        {
          "indexed": true,
          "internalType": "address",
          "name": "foreman",
          "type": "address"
        },
        {
          "indexed": false,
          "internalType": "uint256",
          "name": "installmentAmount",
          "type": "uint256"
        },
        {
          "indexed": false,
          "internalType": "uint256",
          "name": "noOfInstallments",
          "type": "uint256"
        },
        {
          "indexed": true,
          "internalType": "enum Lib.FundStatus",
          "name": "status",
          "type": "uint8"
        }
      ],
      "name": "fundLog",
      "type": "event"
    },
    {
      "inputs": [
        {
          "internalType": "string",
          "name": "_fundName",
          "type": "string"
        },
        {
          "internalType": "uint256",
          "name": "_fundInstallment",
          "type": "uint256"
        },
        {
          "internalType": "uint256",
          "name": "_maxTicketNumber",
          "type": "uint256"
        },
        {
          "internalType": "uint256",
          "name": "_foremanCommission",
          "type": "uint256"
        }
      ],
      "name": "createFund",
      "outputs": [],
      "stateMutability": "payable",
      "type": "function",
      "payable": true
    },
    {
      "inputs": [],
      "name": "getDeployedFund",
      "outputs": [
        {
          "internalType": "address",
          "name": "",
          "type": "address"
        }
      ],
      "stateMutability": "view",
      "type": "function",
      "constant": true
    },
    {
      "inputs": [
        {
          "internalType": "string",
          "name": "_fundName",
          "type": "string"
        }
      ],
      "name": "updateFundStatus",
      "outputs": [],
      "stateMutability": "nonpayable",
      "type": "function"
    }
  ];

                myContract = new web3.eth.Contract(contractAbi, contractAddress);

                $('#create').submit(function (e) {
                    e.preventDefault();
                    fundName = $('#create input[name="fundName"]').val();
                    fundInstallment = $('#create input[name="fundInstallment"]').val();
                    maxTicketNumber = $('#create input[name="maxTicketNumber"]').val();
                    foremanCommission = $('#create input[name="foremanCommission"]').val();
                    $('.progress').show();
                    ethereum.enable().then(function (accounts) {
                      $(".progress-bar").css("width", "75%");
                      $(".progress-bar").attr("aria-valuenow", "75%");
                        foremanAddress = accounts[0];
                        myContract.methods.createFund(fundName, fundInstallment, maxTicketNumber, foremanCommission)
                            .send({
                                from: foremanAddress,
                                value: fundInstallment * maxTicketNumber
                            })
                            .then(function (result, error) {
                                if (!error) {
                                  $(".progress-bar").css("width", "100%");
                                  $(".progress-bar").attr("aria-valuenow", "100%");
                                  $('.progress').hide();
                                    swal("Success!", "Added New Trusted Lending Circle", "success")
                                        .then(() => {
                                            window.location = "/foreman";
                                        });
                                } else {
                                  $(".progress-bar").css("width", "100%");
                                  $(".progress-bar").attr("aria-valuenow", "100%");
                                  $('.progress').hide();
                                    swal("Oops", "Something went wrong!", "error");
                                }
                            });
                    });
                });
            });

        </script>
        <style>
            body {
                font-family: 'Montserrat', sans-serif;
            }
        </style>

        </html>
