<% include ../common/header %>
    <% include ../common/navbarForeman %>
        <div class="container-fluid">
            <h1 class="text-primary p-3">Subscriber Log</h1>

            <div class="container-fluid">
                <table id="subscriberLogTable" class="display wrap" style="width:100%">
                    <thead>
                        <tr>
                            <th>Installment Index</th>
                            <th>Ticket Number</th>
                            <th>Subscriber Address</th>
                            <th>Pay</th>
                            <th>Fine</th>
                            <th>Deposit</th>
                            <th>Balance</th>
                            <th>Winner</th>
                            <th>Subscriber</th>
                            <th>Due</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script> -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
        <!-- Data Table  -->
        <link rel="stylesheet" href="/stylesheets/datatable.css">
        <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.23/datatables.min.js"></script>
        </body>
        <script>
            var contractAddress = '<%= contractAddress %>';
            $(document).ready(function () {
                $.fn.dataTable.ext.errMode = 'throw';
                try {
                    var table = $('#subscriberLogTable').DataTable({
                        // processing: false,
                        // serverSide: true,
                        responsive: true,
                        //bInfo: false,
                        // dom: 'lfrtBip',
                        scrollX: true,
                        //"scrollY": "450px",
                        "scrollCollapse": true,
                        ajax: {
                            url: '/foreman/subscriberLogEvent',
                            type: 'GET',
                            contentType: "application/json",
                            data: {
                                'contractAddress': contractAddress
                            }
                        },
                        columns: [
                            {
                                data: null,
                                render: function(data) {
                                    return data.installmentIndex;
                                }
                            },
                            {
                                data: 'ticketNumber',
                                name: 'ticketNumber'
                            },
                            {
                                data: 'subscriberAddress',
                                name: 'subscriberAddress'
                            },
                            {
                                data: 'pay',
                                name: 'pay'
                            },
                            {
                                data: 'fine',
                                name: 'fine'
                            },
                            {
                                data: 'deposit',
                                name: 'deposit'
                            },
                            {
                                data: 'balance',
                                name: 'balance'
                            },
                            {
                                data: null,
                                render: function(data) {
                                    var icon = '';
                                    if (data.winner == true) {
                                        icon = '<i class="fas fa-check-circle text-success"></i>';
                                    } else {
                                        icon = '<i class="fas fa-times-circle text-danger"></i>';
                                    }
                                    return icon;
                                }
                            },
                            {
                                data: null,
                                render: function(data) {
                                    var icon = '';
                                    if (data.subscriber == true) {
                                        icon = '<i class="fas fa-check-circle text-success"></i>';
                                    } else {
                                        icon = '<i class="fas fa-times-circle text-danger"></i>';
                                    }
                                    return icon;
                                }
                            },
                            {
                                data: 'due',
                                name: 'due'
                            },
                            {
                                data: null,
                                render: function(data) {
                                    var icon = '';
                                    if (data.status == 1) {
                                        icon = '<i class="fas fa-toggle-on text-success"></i>';
                                    } else {
                                        icon = '<i class="fas fa-toggle-off text-danger"></i>';
                                    }
                                    return icon;
                                }
                            },
                        ]

                    });
                } catch (e) {
                    console.log(e.stack);
                }
            });
        </script>

        <style>
            body {
                font-family: 'Montserrat', sans-serif;
            }
        </style>

        </html>
